<!DOCTYPE html>
<head>
  <title>Awesome Foods</title>
</head>
<body>
<h1>List of Items</h1>
<ul>
  <% items.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<h3><a href="/items/new">Add New Item</h3>
</body>
</html>