<!DOCTYPE html>
<head>
  <title>Awesome Foods</title>
</head>
<body>
<h1>Add Item Here</h1>

<form action='/items' method="post">
  <input type="text" name="item_name">
  <input type="submit" value="Create Item">
</form>


</body>
</html>