<!DOCTYPE html>
<head>
  <title>Awesome Foods</title>
</head>
<body>
<h1><%= item %> </h1>
<p>Stuff about the item</p>
<form action="/items/<%= id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="item_name">
  <input type="submit">
</form>
</body>
</html>